<div class="container m-5">
    <form id="loginForm">
        <div class="form-group m-4">
            <label class="font-weight-bold">Email</label>
            <input name="email" class="form-control">
        </div>
        <div class="form-group m-4">
            <label class="font-weight-bold">Contraseña</label>
            <input  type="password" name="password" class="form-control">
        </div>
        <div class="form-group m-4">
            <input class="btn btn-primary rounded mb-4 mll-4 px-3 py-2" type="submit">
        </div>
    </form>
</div>
<div class="container m-5">
    <a href="/register"><button class="btn btn-primary rounded mb-4 mll-4 px-3 py-2">Ir a Register</button></a>
</div>
<script src="js/login.js"></script>